- title 'Blog Viewer - Detail'

%section
  .container
    .page-header
      %h2 Blog Viewer - Detail
    .row
      .span16
        = render 'detail'

-#
  .container
    .row
      .span16
        %h3
          Edit
        %p
          = render 'form'
